<style>
    .question-item {
        list-style-type: none;
    }
</style>
<!-- subheader -->
<section id="subheader" data-speed="8" data-type="background">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>FAQ</h1>
                <ul class="crumb">
                    <li><a href="/Home">Home</a></li>
                    <li class="sep">/</li>
                    <li>FAQ</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->
<!-- content begin -->
<div id="content" class="no-top no-bottom">

    <section id="section-faq-2" data-bgcolor="#1c1e20">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div id="logo" style="text-align:center;">
                        <a href="#">
                            <img class="logo" src="~/Content/stone/Logo/GEMS-01-01.png" alt="" width="150" height="150">
                        </a>
                        <h3 class="s2"><span class="id-color">Hãy đặt câu hỏi của bạn</span></h3>
                    </div>
                </div>

                <div class="col-md-9">
                    <h2>CÂU HỎI VỀ GEMS-TEK </h2>
                    <div class="expand-group">
                        <div class="expand">
                            <h4>1. ĐẶT HÀNG VÀ THANH TOÁN</h4>
                            <div class="hidden-content">
                                <div class="pages-gems-tek">

                                    <ul class="question-list" style="list-style-type: none;">
                                        <li id="question-item">
                                            <div class="id-color">1. Gems-Tek có nhận đặt hàng làm theo mẫu của khách hàng hay không?</div>
                                            <div class="question-content">
                                                <p>
                                                    Hiện Gems-Tek cung cấp dịch vụ thiết kế sản phẩm theo yêu cầu với chất liệu vàng đính kim cương. Quý khách vui lòng đến các cửa hàng Gems-Tek hoặc liên hệ Hotline
                                                    <a href="tel:0906710739">0906710739</a> (hoàn toàn miễn phí) để được tư vấn cụ thể. Thời gian đặt hàng tùy thuộc vào từng mẫu sản phẩm, thường dao động trong khoảng từ 10 đến 25 ngày làm việc tùy thuộc vào mức độ phức tạp của sản phẩm.
                                                </p>
                                                <hr class="question-sererater">
                                            </div>
                                        </li>
                                        <li id="question-item">
                                            <div class="id-color">2. Tôi đang ở nước ngoài, tôi đặt hàng và nhận hàng như thế nào?</div>
                                            <div class="question-content">
                                                <p>Hiện Gems-Tek chưa hỗ trợ dịch vụ đặt hàng và giao hàng ngoài lãnh thổ Việt Nam. Nếu có nhu cầu mua trang sức tại Gems-Tek, quý khách có thể chọn lựa sản phẩm ưng ý, nhờ người thân thanh toán và nhận hàng.<br> Quý khách có thể chọn hình thức giao hàng tân nơi hoặc nhận tại cửa hàng.</p>
                                            </div>
                                            <hr class="question-sererater">
                                        </li>
                                        <li id="question-item">
                                            <div class="id-color">3. Tôi đặt hàng online có ưu đãi được ưu đãi gì đặc biệt không?</div>
                                            <div class="question-content"> <p>Gems-Tek có chính sách hỗ trợ Khách hàng khi đặt hàng online:<br> - Đặt hàng nhận tại tại cửa hàng nhận ngay mã giảm giá với dịch vụ Click and Collect.<br> - Đến cửa hàng khách được xem sản phẩm hoặc thay đổi sản phẩm tùy thích.<br> - Miễn phí giao hàng toàn quốc.</p> </div>
                                            <hr class="question-sererater">
                                        </li>

                                        <li id="question-item">
                                            <div class="id-color">5. Tôi đặt hàng thành công rồi, khi nào được xác nhận đơn hàng?</div>
                                            <div class="question-content"> <p>Quý khách hàng sẽ nhận được email thông báo đơn hàng thành công ngay khi đặt hàng. Tư vấn viên Gems-Tek sẽ liên hệ Quý khách để thông báo về thời gian giao hàng.</p> </div>
                                            <hr class="question-sererater">
                                        </li>
                                        <li id="question-item">
                                            <div class="id-color">6. Tôi thích sản phẩm ABCD... này quá nhưng cửa hàng gần khu vực không có hàng? Tôi có thể đặt hàng online không?</div>
                                            <div class="question-content"> <p>Để nhận được sản phẩm không có hàng tại khu vực cửa hàng gần bạn, quý khách hàng có thể đặt hàng trực tiếp trên website Gems-Tek và chọn lựa hình thức giao hàng tận nơi. Sản phẩm sẽ được giao hàng miễn phí toàn quốc từ 2-7 ngày làm việc.</p> </div>
                                            <hr class="question-sererater">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="expand">
                            <h4>2. GIAO NHẬN HÀNG</h4>
                            <div class="hidden-content">
                                <div class="pages-gems-tek">
                                    <ul class="question-list" style="list-style-type: none;">
                                        <li id="question-item">
                                            <div class="id-color">1. Phí vận chuyển của Gems-Tek được tính như thế nào?</div>
                                            <div class="question-content">
                                                <p>Nhằm mang đến lợi ích cao nhất cho quý khách, Gems-Tek cung cấp dịch vụ giao hàng HOÀN TOÀN MIỄN PHÍ trên Toàn Quốc.</p>
                                            </div>
                                            <hr class="question-sererater">
                                        </li>
                                        <li id="question-item">
                                            <div class="id-color">2. Thời gian giao hàng tiêu chuẩn trong bao lâu?</div>
                                            <div class="question-content">
                                                <p>
                                                    Thời gian giao hàng từ 2 - 7 ngày làm việc tùy theo khu vực nhận hàng:<br> • Khu vực Tp.HCM, Hà Nội: 1-4 ngày làm việc<br> • Khu vực tỉnh thành khác: 2-7 ngày làm việc<br>
                                                    <span style="font-style:italic; font-size:90%">* Thời gian giao hàng trên chỉ mang tính chất tham khảo, thực tế có thể dao động sớm hoặc muộn hơn tùy theo tình trạng tồn kho sản phẩm, địa chỉ giao hàng và một số điều kiện khách quan khác.<br> * Đối với đơn hàng đặt làm, thời gian giao hàng sẽ cộng thêm thời gian sản xuất. Nhân viên tư vấn sẽ thông báo cụ thể khi xác nhận đơn hàng với quý khách.</span>
                                                </p>
                                                <hr class="question-sererater">
                                            </div>
                                        </li>
                                        <li id="question-item">
                                            <div class="id-color">3. Tôi có thể kiểm tra sản phẩm trước khi nhận hàng hay không?</div>
                                            <div class="question-content">
                                                <p>
                                                    - Để đảm bảo an toàn cho sản phẩm trang sức, Gems-Tek thực hiện chính sách giao hàng nguyên đai nguyên kiện, không mở niêm phong hộp hàng khi nhân viên đối tác vận chuyển giao hàng đến.<br> - Quý khách vui lòng kiểm tra bao bì vận chuyển còn nguyên niêm phong 02 tem vỡ trước khi ký nhận hàng. Trong trường hợp hộp vận chuyển có dấu hiệu bị tháo gỡ, mất/rách tem niêm phong, chữ ký giáp lai bị đứt quãng... quý khách cần từ chối nhận hàng và liên hệ về Hotline Gems-Tek
                                                    <a href="tel:0906710739">0906710739</a>.<br> - Gems-Tek đảm bảo sản phẩm gửi đến quý khách đã được kiểm tra chất lượng. Trong trường hợp hiếm hoi quý khách nhận phải sản phẩm có khiếm khuyết, hư hỏng hoặc không như mô tả, Gems-Tek cam kết bảo vệ quý khách bằng
                                                    <a href="https://www.gems-tek.com" target="_blank">chính sách đổi trả và bảo hành</a><br> - Vui lòng xem chi tiết tại:
                                                    <a href="https://www.gems-tek.com" target="_blank">https://www.gems-tek.com</a>
                                                </p>
                                                <hr class="question-sererater">
                                            </div>
                                        </li>
                                        <li id="question-item">
                                            <div class="id-color">4. Tôi ở nước ngoài muốn đặt hàng thì Gems-Tek có thể hỗ trợ giao hay không?</div>
                                            <div class="question-content">
                                                <p>Hiện tại Gems-Tek chưa có chính sách giao hàng ngoài lãnh thổ Việt Nam. Mong quý khách thông cảm.</p>
                                            </div>
                                            <hr class="question-sererater">
                                        </li>
                                        <li id="question-item">
                                            <div class="id-color">5. Nhân viên giao hàng có gọi cho tôi trước khi giao không? Nhân viên giao hàng đến nhưng tôi bận việc đột xuất thì có thể giao lại cho tôi được không?</div>
                                            <div class="question-content">
                                                <p>
                                                    Nhân viên giao hàng sẽ gọi trước quý khách trước khi giao hàng.<br> Trong trường hợp quý khách bận chưa thể nhận hàng, quý khách vui lòng hẹn lại thời gian với nhân viên giao hàng hoặc liên hệ hotline
                                                    <a href="tel:0906710739">0906710739</a> để Gems-Tek được hỗ trợ quý khách.
                                                </p>
                                            </div>
                                            <hr class="question-sererater">
                                        </li>
                                        <li id="question-item">
                                            <div class="id-color">6. Tôi muốn đặt hàng Online, nhận tại cửa hàng được không?</div>

                                            <div class="question-content">
                                                <p>
                                                    Gems-Tek có cung cấp dịch vụ Click &amp; Collect: Đặt Online – Nhận hàng nhanh chóng ngay tại cửa hàng thuận tiện nhất. Chi tiết xem tại:
                                                    <a href="https://www.gems-tek.com" target="_blank">https://www.gems-tek.com</a>
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="expand">
                            <h4>3. CHÍNH SÁCH ĐỔI TRẢ BẢO HÀNH</h4>
                            <div class="hidden-content">
                                <div class="pages-gems-tek">
                                    <ul class="question-list">
                                        <li id="question-item">
                                            <div class="id-color">
                                                1. Tôi vừa mua một chiếc lắc tay bạc nhưng mang không vừa, tôi có thể đổi được không?
                                            </div>

                                            <div class="question-content"> <p>Đối với sản phẩm bạc, Gems-Tek hiện chưa áp dụng chính sách đổi trả. Để biết nhiều thông tin hơn về chính sách đổi trả, quý khách hàng vui lòng tham khảo <a href="https://www.gems-tek.com.vn/chinh-sach-bao-hanh-va-thu-doi.html" target="_blank">tại đây</a></p> </div>
                                            <hr class="question-sererater">
                                        </li>
                                        <li id="question-item">
                                            <div class="id-color">
                                                2. Tôi vừa mua một chiếc nhẫn vàng 18k tại cửa hàng, tôi có thể đổi được không?
                                            </div>

                                            <div class="question-content">
                                                <p>
                                                    Quý khách có thể đổi hàng trong vòng 48h kể từ thời gian nhận hàng với điều kiện sản phẩm phù hợp với các chính sách đổi hàng 48h của Gems-Tek. Trường hợp quá thời hạn trên, Gems-Tek sẽ thu mua sản phẩm theo chính sách hiện hành.<br> Quý khách vui lòng tham khảo chính sách thu đổi chi tiết
                                                    <a href="https://www.gems-tek.com" target="_blank">tại đây</a>.
                                                </p>
                                            </div>
                                            <hr class="question-sererater">
                                        </li>
                                        <li id="question-item">
                                            <div class="id-color">3. Tôi vừa mua chiếc vòng tay trên website Gems-Tek, chưa sử dụng nhưng bị gãy, tôi muốn đổi sản phẩm khác thì làm thế nào?</div>  <div class="question-content">
                                                <p>
                                                    <strong>Với Đơn Hàng Online:</strong><br> <i>Bước 1:</i> Liên hệ Hotline: của Gems-Tek
                                                    <a href="tel:0906710739">0906710739</a> để gặp tư vấn viên, inbox fanpage hoặc mail tới hộp thư
                                                    <a href="mailto:shop@gems-tek.com">shop@gems-tek.com.vn</a> và cung cấp các thông tin sau:<br> • Mã số đơn hàng<br> • Tên sản phẩm<br> • Lỗi sản phẩm (mô tả chi tiết và kèm ảnh chụp nếu có)<br> • Nhu cầu cần hỗ trợ: đổi/trả/bảo hành<br> <i>Bước 2:</i> Nhận thông tin hướng dẫn sản phẩm được đổi, trả và cách đóng gói.<br> Sau khi yêu cầu được chấp nhận bạn sẽ được Gems-Tek hướng dẫn cách đóng gói sản phẩm quý khách muốn đổi/trả kèm theo hóa đơn.<br> <i>Bước 3:</i> Chờ nhân viên giao hàng đến thu hồi và gửi lại sản phẩm đúng<br> Quý khách vui lòng đợi nhân viên đến thu hồi sản phẩm trong vòng 3 – 7 ngày làm việc:<br> Một số lưu ý:<br> • Đóng gói, chèn lót sản phẩm như ban đầu để đảm bảo không xảy ra hư hỏng trong quá trình vận chuyển.<br> • Gửi kèm lại hóa đơn Gems-Tek đã xuất cho bạn trong sản phẩm lần đầu.
                                                </p>
                                            </div>
                                            <hr class="question-sererater">
                                        </li>
                                        <li id="question-item">
                                            <div class="id-color">4. Tôi có mua một chiếc nhẫn bạc nhưng bị xỉn màu, Gems-Tek có hỗ trợ làm mới không?</div>
                                            <div class="question-content"> <p>- Đối với sản phẩm Bạc được bảo hành trong vòng 1 năm, các sản phẩm bị oxy hóa, xuống màu, sẽ được siêu âm làm sạch bằng máy chuyên dụng (siêu âm, không xi).<br> - Miễn phí 3 tháng đầu về mặt kỹ thuật, nước xi.<br> - Từ tháng 4 đến hết tháng thứ 12, sản phẩm sẽ được bảo hành có tính phí.<br> - Trên 12 tháng Công ty không nhận bảo hành.<br> Quý Khách vui lòng tham khảo chính sách bảo hành chi tiết <a href="https://www.gems-tek.com" target="_blank">tại đây</a>.</p> </div>
                                            <hr class="question-sererater">
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- thẻ thành viên-->
                        @*<div class="expand">
                            <h4>4. CHÍNH SÁCH THẺ THÀNH VIÊN</h4>
                            <div class="hidden-content">
                                <div class="pages-gems-tek">
                                    <ul class="question-list">
                                        <li id="question-item">
                                            <div class="id-color">1. Chương trình TÍCH LUỸ ĐIỂM KHÁCH HÀNG THÂN THIẾT (KHTT) là gì ?</div>
                                            <div class="question-content">
                                                <p>Chương trình KHTT là chương trình được xây dựng với mong muốn mang lại cho khách hàng những quyền lợi cao nhất khi mua hàng tại hệ thống. Khách hàng sẽ được hưởng những quyền lợi đặc biệt khi tham gia và trở thành KHTT của Gems-Tek.</p>
                                            </div>
                                            <hr class="question-sererater">
                                        </li>
                                        <li id="question-item">
                                            <div class="id-color">2. Làm sao để tôi tích điểm thẻ khách hàng thân thiết ?</div>
                                            <div class="question-content">
                                                <p>• Áp dụng tất cả các Khách hàng mua lẻ Gems-Tek, Đồng Hồ, Vàng 99.99 được ép siêu: vàng miếng Gems-Tek/SJC, nhẫn khoen ép vĩ … tại các điểm bán hàng thuộc Gems-Tek, khách mua hàng online.<br> • Không áp dụng tích lũy điểm cho KH mua hàng ở hội chợ, mua Gems-TekSilver.</p>
                                            </div>
                                            <hr class="question-sererater">
                                        </li>
                                        <li id="question-item">
                                            <div class="id-color">3. Tôi sẽ nhận được những ưu đãi gì khi tham gia chương trình?</div> <div class="question-content">
                                                <p>• Quý khách hàng sẽ được tham gia chương trình ngay lần đầu tiên mua hàng.<br> • Quý khách hàng được tích luỹ điểm cho những lần mua hàng tiếp theo với tỷ lệ quy đổi điểm của từng nhóm hàng như sau:<br> TỶ LỆ QUY ĐỔI ĐIỂM:</p> <table align="center" border="1" cellpadding="0" cellspacing="0"> <tbody> <tr> <th width="30">STT</th> <th>Nhóm hàng</th> <th>Số tiền</th> <th>Số điểm quy đổi</th> </tr> <tr> <td align="center">1</td> <td>Kim cương rời, nữ trang 24k</td> <td>2.000.000đ</td> <td>1 điểm</td> </tr> <tr> <td align="center">2</td> <td>Vàng 99.99 ép vỉ</td> <td>6.000.000đ</td> <td>1 điểm</td> </tr> <tr> <td align="center">3</td> <td>Tất cả các sản phẩm còn lại</td> <td>1.000.000đ</td> <td>1 điểm</td> </tr> </tbody> </table> <p>* Không áp dụng tích luỹ điểm cho sản phẩm Gems-TekSilver.<br> * Điểm được tính là phần số nguyên, bỏ phần dư và không làm tròn.</p>
                                            </div><hr class="question-sererater">
                                        </li>
                                        <li id="question-item">
                                            <div class="id-color">4. Có mấy loại thẻ, mỗi loại bao nhiêu điểm?</div>  <div class="question-content">
                                                <table align="center" border="1" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr> <th width="30">STT</th> <th>Nhóm hàng</th> <th>Số điểm</th> </tr>
                                                        <tr> <td align="center">1</td> <td class="group-card">Thẻ KẾT NỐI <img alt="theketnoi" src="../images/ho-tro-khach-hang/theketnoi.jpg"></td> <td>Từ 0-99 điểm</td> </tr>
                                                        <tr> <td align="center">2</td> <td class="group-card">Thẻ THÀNH VIÊN <img alt="thethanhvien" src="../images/ho-tro-khach-hang/thethanhvien.jpg"></td> <td>Từ 100-399 điểm</td> </tr>
                                                        <tr>
                                                            <td align="center">3</td>
                                                            <td class="group-card">Thẻ ĐỒNG HÀNH <img alt="thedonghanh" src="../images/ho-tro-khach-hang/thedonghanh.jpg"></td>
                                                            <td>
                                                                Từ 400-999 điểm
                                                            </td>
                                                        </tr>
                                                        <tr> <td align="center">4</td> <td class="group-card">Thẻ THÂN THIẾT <img alt="thethanthiet" src="../images/ho-tro-khach-hang/thethanthiet.jpg"></td> <td>Từ 1000 điểm trở lên</td> </tr>
                                                    </tbody>
                                                </table> <p>Hạng thẻ sẽ được tăng sau 7 ngày kể từ ngày Quý Khách đạt đủ điểm tích lũy.</p>
                                            </div>
                                            <hr class="question-sererater">
                                        </li>
                                        <li id="question-item">
                                            <div class="id-color">5. Quyền lợi của tích điểm và tăng hạng thẻ là gì ?</div> <div class="question-content">
                                                <table align="center" border="1" cellpadding="0" cellspacing="0">
                                                    <tbody>
                                                        <tr> <th rowspan="2" style="padding-top: 25px;">Ưu đãi</th> <th colspan="3">Hạng thẻ</th> </tr>
                                                        <tr> <th>Thành viên</th> <th>Đồng hành</th> <th>Thân thiết</th> </tr>
                                                        <tr>
                                                            <td>Nữ Trang Tính Công (<em>ưu đãi tiền công</em>)</td>
                                                            <td align="center">5%</td>
                                                            <td align="center">6%</td>
                                                            <td align="center">10%</td>
                                                        </tr>
                                                        <tr> <td>Kim Cương Rời<br> Nhóm Đá màu rời được áp dụng ưu đãi của nhóm Kim cương rời</td> <td align="center">2%</td> <td align="center">2%</td> <td align="center">3%</td> </tr>
                                                        <tr> <td>Nữ trang đá màu, nữ trang CZ, ECZ, vỏ nữ trang, nữ trang kim cương, nữ trang bán gram.<br> Vòng cẩm thạch, trang sức ngọc trai và chuỗi ngọc trai thuộc nhóm trang sức đá màu.</td> <td align="center">3%</td> <td align="center">5%</td> <td align="center">7%</td> </tr>
                                                        <tr> <td>Gems-TekSilver, Jemma, Đồng Hồ</td> <td align="center">7%</td> <td align="center">10%</td> <td align="center">12%</td> </tr>
                                                    </tbody>
                                                </table> <p style="text-align: center;"><strong style="line-height: 20.8px; text-align: center;">*<em>Hàng thợ thuộc nhóm hàng nào sẽ được hưởng ưu đãi theo nhóm hàng đó</em></strong></p>
                                            </div>
                                            <hr class="question-sererater">
                                        </li>
                                        <li id="question-item-6">
                                            <div class="id-color">6. Tôi là khách hàng tham gia chương trình khách hàng thân thiết của Gems-Tek. Tôi muốn kiểm tra điểm tích lũy của mình thì phải làm thế nào?</div> <div class="question-content">
                                                <p>Nếu quý khách hàng muốn kiểm tra điểm tích lũy, quý khách có thể trực tiếp đến cửa hàng gần nhất thuộc hệ thống cửa hàng Gems-Tek hoặc vui lòng liên hệ số điện thoại Hotline <a href="tel:0906710739">0906710739</a> để được kiểm tra.</p>
                                            </div>  <hr class="question-sererater">
                                        </li>
                                        <li id="question-item-7">
                                            <div class="id-color">7. Người thân của tôi mua sản phẩm Gems-Tek tích điểm chung thẻ của khách được không ?</div> <div class="question-content">
                                                <p>Khi thực hiện thanh toán, quý khách vui lòng cung cấp số thẻ thành viên của người thân để tư vấn viên Gems-Tek hỗ trợ quý khách hàng tích điểm.</p>
                                            </div>  <hr class="question-sererater">
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>*@
                        <!---->
                        <div class="expand">
                            <h4>4. CẨM NANG SỬ DỤNG TRANG SỨC</h4>
                            <div class="hidden-content">
                                <div class="pages-gems-tek">
                                    <ul class="question-list">
                                        <li id="question-item">
                                            <div class="id-color">1. Tôi muốn mua một chiếc nhẫn nhưng không biết chọn size của Gems-Tek, nhờ hướng dẫn chọn size?</div>  <div class="question-content">
                                                <p>Quý khách có thể tham khảo cách đo ni, size <a href="https://www.gems-tek.com" target="_blank">tại đây</a> hoặc ghé cửa hàng gần nhất để tư vấn viên hỗ trợ đo ni, size cho bạn nhé.</p>
                                            </div><hr class="question-sererater">
                                        </li>
                                        <li id="question-item">
                                            <div class="id-color">2. Làm sao để trang sức luôn sáng bóng?</div> <div class="question-content">
                                                <p>
                                                    Trong quá trình sử dụng, để bảo quản sản phẩm luôn sáng bóng, quý khách vui lòng:<br> - Tuyệt đối không sử dụng nước tẩy rửa có tính chất tẩy mạnh hay các hóa chất như thủy ngân, thuốc nhuộm tóc, uốn tóc và một số loại mỹ phẩm.<br> - Với sản phẩm bạc nên ngâm và rửa nhẹ nhàng trong nước tẩy rửa nhẹ (nước tẩy rửa chén đĩa, ly tách) pha với nước sạch. Sau đó, rửa lại bằng nước sạch và dùng khăn mềm lau khô thật kỹ.<br> - Không nên để vàng tiếp xúc với thủy ngân, thuốc uốn tóc, nhuộm tóc và một số loại mỹ phẩm vì các chất này sẽ làm cho vàng bị ngả màu.<br> - Sau khi sử dụng cần bảo quản riêng từng loại trang sức. Tuyệt đối không bỏ chung sản phẩm bạc và vàng với nhau.
                                                    <br> - Ngoài ra theo định kỳ, nên mang sản phẩm đến Gems-Tek để được hỗ trợ bảo hành. Quý khách vui lòng tham khảo chính sách bảo hành <a href="https://www.gems-tek.com" target="_blank">tại đây</a>.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="expand">
                            <h4>5. CÂU HỎI KHÁC</h4>
                            <div class="hidden-content">
                                <div class="pages-gems-tek">
                                    <ul class="question-list">
                                        <li id="question-item">
                                            <div class="id-color">Tôi có nhu cầu mua trang sức để đeo phong thủy. Không biết tại cửa hàng Gems-Tek có bán sản phẩm này hay không?</div> <div class="question-content">
                                                <p>Gems-Tek luôn kinh doanh đa dạng, phong phú mặt hàng nhằm phục vụ đến từng nhu cầu của quý khách hàng, và Trang Sức Phong Thủy là một trong số đó. Để chọn lực trang sức hợp với phong thủy của mình, quý khách hàng hãy liên hệ Hotline <a href="tel:0906710739">0906710739 </a> (hoàn toàn miễn phí) để được tư vấn cụ thể</p>
                                            </div> <hr class="question-sererater">
                                        </li>
                                        <li id="question-item">
                                            <div class="id-color">
                                                Gems-Tek có dịch vụ kiểm định kim cương không?
                                            </div> <div class="question-content"> <p>Để chắc chắn về nguồn gốc xuất xứ của sản phẩm được mua tại các cửa hàng tư nhân, quý khách hàng có thể mang sản phẩm (kim cương, đá quý, đá bán quý) đến Gems-TekLab tại 307/41 Thạch Lam, P.Phú Thạnh, Q.Tân Phú, TP Hồ Chí Minh để kiểm định chất lượng.<br> <strong>Gems-TekLab</strong> là công ty độc lập được thành lập từ năm 1996, do Công ty Cổ phần Vàng bạc Đá quý Phú Nhuận làm chủ sở hữu, có 15 năm hoạt động trong lĩnh vực dịch vụ giám định, với đội ngũ chuyên gia giám định giàu kinh nghiệm, thiết bị công nghệ hiện đại theo các tiêu chuẩn kiểm định quốc tế, chất lượng giám định được tổng hợp dựa trên những quan điểm giám định tốt nhất của các viện nghiên cứu trên thế giới. Dịch vụ hiện có của công ty:<br> - Giám định, tư vấn về Kim cương.<br> - Giám định, tư vấn về các loại đá quý, đá bán quý.<br> - Giám định, tư vấn về vàng, bạc, kim loại quý, kim loại màu.<br> - Khắc chữ trên kim cương theo yêu cầu.</p> </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>


            </div>
        </div>
    </section>


    <!-- section begin -->
    <section id="view-all-projects" class="call-to-action bg-color text-dark" data-speed="5" data-type="background"
             aria-label="cta">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2>Bạn còn có câu hỏi nào nữa không?</h2>
                </div>

                <div class="col-md-4 text-right">
                    <a target="_blank" href="/Contact" class="btn btn-line black btn-big wow fadeInUp">Hỏi Ngay</a>
                </div>
            </div>
        </div>
    </section>
    <!-- logo carousel section close -->


</div>