
<style>
    .content {
        white-space: nowrap;
        width: 430px;
        overflow: hidden;
        text-overflow: ellipsis;
        word-break: break-all;
    }
</style>
<!-- revolution slider begin -->
<section id="section-slider" class="fullwidthbanner-container" aria-label="section-slider">
    <div id="revolution-slider">
        <ul>
            <li data-transition="fade" data-slotamount="10" data-masterspeed="200" data-thumb="">
                <!--  BACKGROUND IMAGE -->
                <img src="~/Content/stone/img-background/nhanbac.png" alt="" />
                <div class="tp-caption big-white sft" data-x="0" data-y="150" data-speed="800" data-start="400" data-easing="easeInOutExpo"
                     data-endspeed="450">
                    Thời Trang
                </div>

                <div class="tp-caption ultra-big-white customin customout start" data-x="0" data-y="center" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:2;scaleY:2;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.85;scaleY:0.85;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="800" data-start="400" data-easing="easeInOutExpo" data-endspeed="400">
                    Nhẫn Đá Quý
                </div>

                <div class="tp-caption sfb" data-x="0" data-y="335" data-speed="400" data-start="800" data-easing="easeInOutExpo">
                    <a href="#" class="btn-slider">
                        Xem thông tin chi tiết
                    </a>
                </div>
            </li>

            <li data-transition="fade" data-slotamount="10" data-masterspeed="200" data-thumb="">
                <!--  BACKGROUND IMAGE -->
                <img src="~/Content/stone/img-background/nhandaquy.png" alt="" />
                <div class="tp-caption big-white sft" data-x="0" data-y="160" data-speed="800" data-start="400" data-easing="easeInOutExpo"
                     data-endspeed="450">
                    Sang Trọng
                </div>

                <div class="tp-caption ultra-big-white customin customout start" data-x="0" data-y="center" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:2;scaleY:2;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.85;scaleY:0.85;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="800" data-start="400" data-easing="easeInOutExpo" data-endspeed="400">
                    Vòng Tay Đá
                </div>

                <div class="tp-caption sfb" data-x="0" data-y="335" data-speed="400" data-start="800" data-easing="easeInOutExpo">
                    <a href="#" class="btn-slider">
                        Xem thông tin chi tiết
                    </a>
                </div>
            </li>

            <li data-transition="fade" data-slotamount="10" data-masterspeed="200" data-thumb="">
                <!--  BACKGROUND IMAGE -->
                <img src="~/Content/stone/img-background/da.png" alt="" />
                <div class="tp-caption big-white sft" data-x="0" data-y="160" data-speed="800" data-start="400" data-easing="easeInOutExpo"
                     data-endspeed="450">
                    Quý Phái
                </div>

                <div class="tp-caption ultra-big-white customin customout start" data-x="0" data-y="center" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:2;scaleY:2;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.85;scaleY:0.85;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                     data-speed="800" data-start="400" data-easing="easeInOutExpo" data-endspeed="400">
                    Đá Quý
                    
                </div>

                <div class="tp-caption sfb" data-x="0" data-y="335" data-speed="400" data-start="800" data-easing="easeInOutExpo">
                    <a href="#" class="btn-slider">
                        Xem thông tin chi tiết
                    </a>
                </div>
            </li>

        </ul>
    </div>
</section>
<!-- revolution slider close -->
<!-- section begin -->
<section id="section-about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center wow fadeInUp">
                <h1 class="id-color">Nguồn gốc của đá quý</h1>
                Đá quý là một trong những món quà quý giá mà thiên nhiên ban tặng cho con người. Nhiều người đeo đá quý vì sở thích nhưng lại không biết rằng chúng cũng có tác dụng như một loại bùa mang đến bình an, may mắn và hạnh phúc nếu phù hợp với cung mệnh của chủ nhân. Vậy tại sao cần chọn đá quý theo cung mệnh? Các nhà nghiên cứu ngọc học và những chuyên gia về phong thủy đã tìm tòi nghiên cứu vấn đề này trong nhiều năm.
                <div class="separator"><span><i class="fa fa-circle"></i></span></div>
                <div class="spacer-single"></div>
            </div>


            <div class="col-md-4 wow fadeInLeft">
                <h3><span class="id-color">Đá Sapphire</span></h3>
                <p class="content">
                    Sapphire là một trong các loại đá quý trong tự nhiên và được sử dụng <br>
                    rộng rãi trong ngành trang sức và đá quý Việt Nam. Một viên sapphire<br>
                    chất lượng cao sẽ có màu xanh đậm và độ trong suốt tuyệt vời có thể <br>
                    đạt tới vài nghìn đô la một carat.Đá quý màu xanh da trời thường được<br> sử dụng nhiều nhất trong trang sức, nhưng gần đây shappire màu hồng, vàng, cam cũng dần được ưa chuộng hơn. Trong tất cả các màu thì shappire đen huyền là loại quý hiếm nhất.
                </p>
                <div class="spacer-single"></div>
                <a class="image-popup-no-margins" href="images/misc/pic_1.jpg">
                    <img src="~/Content/stone/images/stone/da-quy-mau-xanh-da-troi.jpg" class="img-responsive" alt="">
                </a>
            </div>

            <div class="col-md-4 wow fadeInUp" data-wow-delay=".2s">
                <h3><span class="id-color">Đá Emerald</span></h3>
                <p class="content">
                    Đá ngọc lục bảo có hình lục giác trong tự nhiên và được xem trọng <br> như những vật trang sức trong nhiều thế kỷ. Ngọc lục bảo cũng khá<br> hiếm nhưng không bằng những loại trên, nhưng các loại đá lục bảo<br> tốt nhất thường được bán với giá xấp xỉ bằng kim cương.
                    Trong phong <br>thủy, màu ngọc lục bảo là đại diện của tình yêu. Năng lượng của ngọc bảo mang lại sự tươi mới và sức sống cho tinh thần. Một hòn đá của cảm hứng và sự kiên nhẫn vô hạn, nó thể hiện sự đoàn kết, lòng trắc ẩn và tình yêu vô điều kiện. Emerald thúc đẩy tình bạn, sự cân bằng giữa các đối tác và đặc biệt được biết đến với việc cung cấp niềm vui, sự hài lòng và lòng trung thành.
                </p>
                <div class="spacer-single"></div>
                <img src="~/Content/stone/images/stone/da-ngoc-luc-bao.jpg" class="img-responsive" alt="">
            </div>

            <div class="col-md-4 wow fadeInRight">
                <h3><span class="id-color">Đá beryl đỏ</span></h3>
                <p class="content">
                    Đá beryl đỏ hay còn được biết với cái tên thông dụng hơn là Ngọc <br>Lục Bảo đỏ là một trong những nhóm đá tự nhiên quý hiểm ở Việt<br> Nam. Đá bery có nhiều hình dạng  và màu sắc nhưng quý nhất vẫn là<br> màu đỏ
                    Beryl đỏ là một loại  ngọc quý hiếm vì sự hình thành của nó <br>đòi hỏi một môi trường địa hóa độc đáo.  Đầu tiên, nguyên tố beryllium phải có mặt với số lượng đủ lớn để tạo thành khoáng chất. Thứ hai, mangan phải có mặt và có sẵn tại cùng thời điểm và địa điểm. Thứ ba, các điều kiện địa hóa chính xác như berili, mangan, nhôm, silic và oxy phải hiện hữu để kết tinh thành beryl đỏ.

                    <div class="spacer-single"></div>
                    <img src="~/Content/stone/images/stone/ngoc-luc-bao-do.jpg" class="img-responsive" alt="">
            </div>

        </div>
    </div>
</section>
<!-- section close -->
<!-- section begin -->
<section id="section-steps" class="text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center wow fadeInUp">
                <h1 class="id-color">Cách nhận biết đá quý trong tự nhiên</h1><br>
                Các loại đá bán quý tuy cũng có chất lượng tốt nhưng nếu không có kinh nghiệm mua đá quý, bạn sẽ dễ bị nhầm lẫn giữa đá bán quý và đá quý. Do đó, chúng mình sẽ cung cấp những mẹo nhận biết đá quý để bạn dễ dàng lựa chọn một viên đá quý chất lượng cho bản thân mình hoặc người thân.
                <div class="separator"><span><i class="fa fa-circle"></i></span></div>
                <div class="spacer-single"></div>
            </div>

            <div class="col-md-12">
                <div class="de_tab tab_steps">
                    <ul class="de_nav">
                        <li class="active wow fadeIn" data-wow-delay="0s">
                            <span>Cảm nhận bề mặt</span>
                            <div class="v-border"></div>
                        </li>
                        <li class="wow fadeIn" data-wow-delay=".4s">
                            <span>Kiểm tra độ bền </span>
                            <div class="v-border"></div>
                        </li>
                        <li class="wow fadeIn" data-wow-delay=".8s">
                            <span>Thu mua đá quý</span>
                            <div class="v-border"></div>
                        </li>
                        <li class="wow fadeIn" data-wow-delay="1.2s">
                            <span>nhận biết đá quý thô</span>
                            <div class="v-border"></div>
                        </li>
                    </ul>

                    <div class="de_tab_content">

                        <div id="tab1">
                            Một viên đá có kết cấu thô hoặc có sạn cát không được xem là đá quý.
                        </div>

                        <div id="tab2">
                            Khi mua bán đá quý, bạn nên thử dùng một bút thử đá quý để đập, nghiền hoặc uốn nó. Những viên đá quý thật 100% sẽ rất cứng cáp và khó vỡ vụn, trừ khi được cắt bằng laser hoặc nhiệt.
                        </div>

                        <div id="tab3">
                            Một mẹo kiểm tra đá quý khi thu mua đá quý là bạn có thể dùng đèn pin để soi sáng xem đá quý có độ trong như thế nào. Những sản phẩm đá quý chất lượng cao sẽ có độ trong suốt hoàn hảo, không bị bóng mờ ở bất kì góc cạnh nào
                        </div>

                        <div id="tab4">
                            Một trong những điều cần lưu ý trong cách nhận biết đá quý thô là bạn cần cẩn thận với đá nhân tạo. Những loại đá nhân tạo thường có cùng cấu trúc, thành phần hóa học và tính chất vật lý của các loại đá tự nhiên. Nhưng bạn có thể nhận biết chúng thông qua máy kiểm tra chất lượng đá quý.
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!-- section close -->
<!-- section begin -->
<section id="section-portfolio" class="no-top no-bottom" aria-label="section-portfolio">
    <div class="container">

        <div class="spacer-single"></div>

        <!-- portfolio filter begin -->
        <div class="row">
            <div class="col-md-12 text-center">
                <ul id="filters" class="wow fadeInUp" data-wow-delay="0s">
                    <li><a href="#" data-filter="*" class="selected">Tất cả sản phẩm</a></li>
                    <li><a href="#" data-filter=".residential">Vòng Tay</a></li>
                    <li><a href="#" data-filter=".hospitaly">Dây chuyền</a></li>
                    <li><a href="#" data-filter=".office">Nhẫn</a></li>
                    <li><a href="#" data-filter=".commercial">Đá May Mắn</a></li>
                </ul>

            </div>
        </div>
        <!-- portfolio filter close -->

    </div>

    <div id="gallery" class="gallery full-gallery de-gallery pf_full_width wow fadeInUp" data-wow-delay=".3s">

        <!-- gallery item -->
        <div class="item residential">
            <div class="picframe">
                <a class="simple-ajax-popup-align-top" href="project-details-1.html">
                    <span class="overlay">
                        <span class="pf_text">
                            <span class="project-name">Eco Green Interior</span>
                        </span>
                    </span>
                </a>
                <img src="~/Content/stone/images/stone/5cb8320e9ea57-V-ng-Gi-ng-B-o-Ph-i-Lu-Th-ng-V-Charm-ng-Ti-n-B-c-5200k-1759k-1.jpg" alt="" />
            </div>
        </div>
        <!-- close gallery item -->
        <!-- gallery item -->
        <div class="item hospitaly">
            <div class="picframe">
                <a class="simple-ajax-popup-align-top" href="project-details-2.html">
                    <span class="overlay">
                        <span class="pf_text">
                            <span class="project-name">Modern Elegance Suite</span>
                        </span>
                    </span>
                </a>

                <img src="~/Content/stone/images/stone/5cca656c3100e-116-1.jpg" alt="" />
            </div>
        </div>
        <!-- close gallery item -->
        <!-- gallery item -->
        <div class="item hospitaly">
            <div class="picframe">
                <a class="simple-ajax-popup-align-top" href="project-details-3.html">
                    <span class="overlay">
                        <span class="pf_text">
                            <span class="project-name">Apartment Renovation</span>
                        </span>
                    </span>
                </a>

                <img src="~/Content/stone/images/stone/unnamed.jpg"  alt="" />
            </div>
        </div>
        <!-- close gallery item -->
        <!-- gallery item -->
        <div class="item residential">
            <div class="picframe">
                <a class="simple-ajax-popup-align-top" href="project-details-youtube.html">
                    <span class="overlay">
                        <span class="pf_text">
                            <span class="project-name">Youtube Video</span>
                        </span>
                    </span>
                </a>
                <img src="~/Content/stone/images/stone/2006054_L.jpg" alt="" />
            </div>
        </div>
        <!-- close gallery item -->
        <!-- gallery item -->
        <div class="item office">
            <div class="picframe">
                <a class="simple-ajax-popup-align-top" href="project-details-vimeo.html">
                    <span class="overlay">
                        <span class="pf_text">
                            <span class="project-name">Vimeo Video</span>
                        </span>
                    </span>
                </a>
                <img src="~/Content/stone/images/stone/bo-trang-suc-da-quy-GSDB33-l.jpg" alt="" />
            </div>
        </div>
        <!-- close gallery item -->
        <!-- gallery item -->
        <div class="item commercial">
            <div class="picframe">
                <a class="simple-ajax-popup-align-top" href="project-details.html">
                    <span class="overlay">
                        <span class="pf_text">
                            <span class="project-name">Restaurant In Texas</span>
                        </span>
                    </span>
                </a>
                <img src="~/Content/stone/images/stone/bo-trang-suc-da-quy-GSDB513-l.jpg" alt="" />
            </div>
        </div>
        <!-- close gallery item -->
        <!-- gallery item -->
        <div class="item residential">
            <div class="picframe">
                <a class="simple-ajax-popup-align-top" href="project-details-youtube.html">
                    <span class="overlay">
                        <span class="pf_text">
                            <span class="project-name">Summer House</span>
                        </span>
                    </span>
                </a>

                <img src="~/Content/stone/images/stone/bo-trang-suc-da-quy-GSDB550-l (1).jpg" alt="" />
            </div>
        </div>
        <!-- close gallery item -->
        <!-- gallery item -->
        <div class="item office">
            <div class="picframe">
                <a class="simple-ajax-popup-align-top" href="project-details-vimeo.html">
                    <span class="overlay">
                        <span class="pf_text">
                            <span class="project-name">Office On Space</span>
                        </span>
                    </span>
                </a>

                <img src="~/Content/stone/images/stone/bo-trang-suc-da-quy-GSDB550-l.jpg" alt="" />
            </div>
        </div>
        <!-- close gallery item -->

    </div>

    <div id="loader-area">
        <div class="project-load"></div>
    </div>
</section>
<!-- section close -->
<!-- section begin -->
<section id="view-all-projects" class="call-to-action bg-color text-center" data-speed="5" data-type="background" aria-label="view-all-projects">
    <a href="/Shop" class="btn btn-line black btn-big">Cửa Hàng</a>
</section>
<!-- logo carousel section close -->
<!-- section begin -->
<section id="section-testimonial" class="text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 text-center wow fadeInUp">
                <h1>Bình Luận Nổi Bật</h1>
                <div class="separator"><span><i class="fa fa-circle"></i></span></div>
                <div class="spacer-single"></div>
            </div>
        </div>
        <div id="testimonial-carousel" class="owl-carousel owl-theme de_carousel wow fadeInUp" data-wow-delay=".3s">

            <div class="item">
                <div class="de_testi">
                    <blockquote>
                        <p>
                            Chọn đá quý hợp với cung mệnh giúp sức khỏe dồi dào
                            Sức khỏe là vốn quý nhất của mỗi người. Khi sức khỏe mất đi, dù bạn có tốn biết bao nhiêu tiền bạc vào những loại thuốc bổ, thuốc quý thì cũng không thể hồi phục như trước. Việc duy trì sức khỏe dồi dào là không hề khó, thậm chí là cực kì đơn giản nếu bạn luôn giữ bên mình loại đá quý phù hợp.
                            Trong đá quý chứa nhiều khoáng chất có lợi cho sức khỏe con người và tất nhiên tùy vào cung mệnh mà mỗi người sẽ thích hợp với những khoáng vật nhất định. Do đó, người chơi đá quý chuyên nghiệp tin rằng chọn loại đá hợp với cung mệnh sẽ giúp bạn luôn duy trì sức khỏe tốt, chống lại bệnh tật cho người đeo. Ngoài ra, khi bạn sở hữu viên đá ưng ý, tôn thêm vẻ ngoài thì tự nhiên tinh thần cũng vui vẻ, thoải mái, sức khỏe nhờ đó mà tốt lên theo.
                            Đá quý hợp cung mệnh sẽ đem đến may mắn
                            Quan niệm của người phương Tây tin vào chiêm tinh học thể hiện ở 12 cung hoàng đạo, còn quan niệm của người phương Đông lại căn cứ theo cung mệnh hay còn gọi là 12 con giáp. Đa số người Việt Nam đều bị ảnh hưởng và tin vào những quy luật vận hành của vũ trụ gọi là Ngũ hành với 5 hành gồm Kim, Mộc, Thủy, Hoả, Thổ. Mỗi năm sinh khác nhau trong 12 con giáp sẽ tương ứng với một cung mệnh khác nhau trong 5 hành này, từ đó, người ta sẽ tìm ra những màu sắc, loại đá quý tích cực dành riêng cho từng cung mệnh.
                        </p>
                        <div class="de_testi_by">
                            John, Customer
                        </div>
                    </blockquote>

                </div>
            </div>

            <div class="item">
                <div class="de_testi">
                    <blockquote>
                        <p>
                            Trang sức đá quý thiên nhiên là một trong số những dòng trang sức rất được ưa chuộng hiện nay. Nó bao gồm các loại như : vòng đeo tay phong thủy từ đá thiên nhiên, mặt dây chuyền đá quý, nhẫn phong thủy...Không chỉ mang lại những ý nghĩa may mắn tốt đẹp mà trang sức từ đá quý còn đem đến vẻ đẹp và sự thu hút cho người đeo
                        </p>
                        <div class="de_testi_by">
                            Michael, Customer
                        </div>
                    </blockquote>
                </div>
            </div>

            <div class="item">
                <div class="de_testi">
                    <blockquote>
                        <p>
                            Trang sức đá quý thiên nhiên được hình thành như thế nào?
                            Đá quý là các loại khoáng vật hiếm có được khai thác từ thiên nhiên. Trong điều kiện tự nhiên, các loại đá quý được hình thành ở điều kiện nhiệt độ cao và áp suất lớn như những đợt phun trào nham thạch núi lửa. Những loại magma có thành phần khác nhau sẽ thành tạo những loại đá quý, khoáng vật khác nhau. Để được đánh giá là đá quý, người ta dựa vào các tiêu chí sau :

                            Độ cứng: đạt độ cứng cao và bền bỉ

                            Độ đẹp: khi có thể tương tác với ánh sáng và có màu sắc, khúc xạ và khả năng phản xạ ánh sáng.

                            Độ hiếm: càng khó tìm kiếm trong tự nhiên thì giá trị của nó càng cao.

                            Bởi vì khi có đầy đủ các tiêu chí trên thì người ta mới có thể chế tác ra được những loại trang sức đá quý thiên nhiên có giá trị cao

                            Những loại đá quý nổi tiếng hiện nay phải kể đến như ngọc trai, mã não, thạch anh, ngọc bích, đá mắt hổ, ruby, shapphire, đá Aquamarine…Với màu sắc tuyệt đẹp và tính thẩm mỹ cao mà chúng được chế tác thành các loại trang sức đá quý thiên nhiên. Khi đeo loại trang sức này nó giúp người đeo thể hiện được phong thái tự tin và thanh cao của mình.
                        </p>
                        <div class="de_testi_by">
                            Patrick, Customer
                        </div>
                    </blockquote>
                </div>
            </div>

            <div class="item">
                <div class="de_testi">
                    <blockquote>
                        <p>
                            Sức hấp dẫn của trang sức đá quý thiên nhiên khiến nó được săn lùng hiện nay
                            Người ta thường có câu : Giàu chơi vàng, sang chơi đá. Vàng có thể biểu hiện cho sự giàu có. Còn đá quý lại thể hiện những giá trị sang trọng. Hơn nữa nó còn có giá trị, ý nghĩa phong thủy, tâm linh. Đá quý tồn tại hàng trăm nghìn năm dưới lòng đất, nó hấp thụ được tinh hoa của thiên nhiên, tạo hóa...Đá quý thiên nhiên có tính chất quang học hấp dẫn. Chúng sở hữu những màu sắc tuyệt đẹp, lấp lánh qua phản xạ, khúc xạ hoặc phân tán ánh sáng...Bởi vậy mà nó được rất nhiều người tiêu dùng ưa chuộng và lựa chọn sử dụng…

                            Trong phong thủy từ thủa xa xưa, đá quý được xem là lá bùa hộ mệnh may mắn, xua đuổi những đen đủi, xui xẻo, mang đến sự bình an và may mắn. Theo các nguyên lý ngũ hành, về quy luật tương sinh tương khắc cho rằng : nếu bạn sở hữu món đồ trang sức đá quý thiên nhiên hợp mệnh sẽ luôn được bình an, làm chủ vận mệnh của mình và thành công trong sự nghiệp.
                        </p>
                        <div class="de_testi_by">
                            James, Customer
                        </div>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- section close -->
<!-- footer begin -->
<!-- footer close -->
