
@{
    ViewBag.Title = "thanhtoan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--srcipt-->
@section Scripts
{
    <script src="~/Content/author/js/ShoppingCart.js"></script>
}


<!--endsrcipt-->
<!-- subheader -->
<section id="subheader">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Thanh Toán</h1>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->
<!-- content begin -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-9 ">
                <div class="product-cart">
                    <div class="product-cart-header" style="width:100%;max-width:650px;display:flex;justify-content: flex-start;border-bottom: 4px solid #fff;margin: 0 auto">
                        <div class="product-title" style="width:45%">
                            Mặt Hàng
                        </div>
                        <div class="price" style="width:15%;display:flex;align-items:center">
                            Giá
                        </div>
                        <div class="quanlity" style="width: 20%; display: flex; align-items: center">
                            Số lượng
                        </div>
                        <div class="Total" style="width: 20%; display: flex; align-items: center" >
                            Giá niêm yết
                        </div>
                    </div>
                    <div class="product-cart-body">
                        
                    </div>

                </div>
            </div>

            <div id="sidebar" class="col-md-3">
                <div class="d-summary ">
                    <div class="basket">
                        <h3>THÔNG TIN GIỎ HÀNG</h3>

                    </div>


                    <div class="spacer-line"></div>


                    <br>
                    CHỌN HÌNH THỨC NHẬN HÀNG
                    <div class="row">
                        <div class="col-12" style="margin-top:20px;">
                            <a href="#" class="btn-custom btn-fullwidth text-center">Giao hàng tận nơi<p style="font-size:7px;">(Miễn phí giao hàng toàn quốc)</p></a>
                        </div>
                        <div class="col-12" style="margin-top:20px; font-size:13px;">
                            <a href="#" class="btn-custom btn-fullwidth text-center">  Nhận tại cửa hàng <p style="font-size:7px;">(Giữ hàng trước – nhận hàng ngay)</p></a>
                        </div>
                    </div><br>
                    <form action="/action_page.php">
                        <label for="to">Thành Phố</label> &ensp; <br>
                        <select name="cars" id="cars" class="btn-custom btn-fullwidth text-center">
                            <option value="hcm">Thành Phố Hồ Chí Minh</option>
                            <option value="hn">Hà Nội</option>
                            <option value="bd">Bình Dương</option>
                            <option value="vt">Vũng Tàu</option>
                        </select>
                        <br><br>
                        <label for="qh">Quận/Huyện</label>&ensp;<br>
                        <select name="cars" id="cars" class="btn-custom btn-fullwidth text-center">
                            <option value="q1">Quận 1</option>
                            <option value="q2">Quận 2</option>
                            <option value="q3">Quận 3</option>
                            <option value="q4">Quận 4</option>
                        </select>
                        <br><br>
                        <label for="px">Phường Xã</label>&ensp;<br>
                        <select name="cars" id="cars" class="btn-custom btn-fullwidth text-center">
                            <option value="bt">Phường Bến Thành</option>
                            <option value="cg">Phường Cô Giang</option>
                            <option value="ck">Phường Cầu Kho</option>
                            <option value="nct">Phường Nguyễn Cư Trinh</option>
                        </select>
                        <br><br>
                        <label for="px">Địa Chỉ </label>&ensp;<br>
                        <input class="btn-custom btn-fullwidth text-center" id="address" name="address" placeholder="Nhập địa chỉ khách hàng" />
                        <br><br>
                        <label for="px">Ghi Chú </label>&ensp;<br>
                        <input class="btn-custom btn-fullwidth text-center" id="address" name="address" placeholder="Nhập ghi chú khách hàng" />
                        <br><br>
                    </form>
                    <div class="spacer-line"></div>
                    CHỌN PHƯƠNG THỨC VẬN CHUYỂN
                    <fieldset style="font-size: 11px;">
                        <input type="checkbox" value="" /> &emsp; Giao hàng tiêu chuẩn<br>
                        <span>Phí vận chuyển: Miễn phí</span><br>
                        <span>Khu vực tỉnh thành khác: 2-7 ngày làm việc.</span>
                    </fieldset>
                    <fieldset style="font-size: 11px;">
                        <input type="checkbox" value="" /> &emsp; Giao hàng Nhanh<br>
                        <span>Phí vận chuyển: 35000 vnđ</span><br>
                        <span>Khu vực tỉnh thành khác: 2-7 ngày làm việc.</span>
                    </fieldset>

                    <div class="spacer-line"></div>

                    <div class="de-flex">
                        <div>Thành tiền </div>
                        <div class="strong">$1000</div>
                    </div>
                    <div class="de-flex">
                        <div>Phí Vận Chuyển </div>
                        <div class="strong">$1</div>
                    </div>
                    <form action="https://www.designesia.com/themes/archi-main/blank.php" class="row" id="form_coupon" method="post" name="form_coupon">
                        <div class="col text-center">
                            <input class="form-control" id="name_1" name="name_1" placeholder="Nhập mã ưu đãi" type="text" /> <a href="#" id="btn-submit"><i class="fa fa-long-arrow-right"></i></a>
                            <div class="clearfix"></div>
                        </div>

                    </form>

                    <a style="margin-top:25px;" href="#" class="btn-custom btn-fullwidth text-center">Đặt Hàng</a>
                    <div style="text-align:right">
                        <i>(Đã bao gồm VAT)</i>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

