
@{
    ViewBag.Title = "thongtinsanpham";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- subheader -->
<section id="subheader" class="style-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Thông Tin Sản Phẩm</h1>
            </div>
        </div>
    </div>
</section>
<!-- subheader close -->
<!-- content begin -->
<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="row p-single">
                    <div class="col-md-6">
                        <div class="p-carousel owl-carousel owl-theme">
                            <img src="~/Content/stone/images/stone/2006054_L.jpg" class="img-fluid" alt="">
                            <img src="~/Content/stone/images/stone/2006054_L.jpg" class="img-fluid" alt="">
                            <img src="~/Content/stone/images/stone/2006054_L.jpg" class="img-fluid" alt="">
                            <img src="~/Content/stone/images/stone/2006054_L.jpg" class="img-fluid" alt="">
                            <img src="~/Content/stone/images/stone/2006054_L.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="p-carousel-thumb owl-carousel owl-theme mt20">
                            <img src="~/Content/stone/images/stone/2006054_L.jpg" class="img-fluid" alt="">
                            <img src="~/Content/stone/images/stone/2006054_L.jpg" class="img-fluid" alt="">
                            <img src="~/Content/stone/images/stone/2006054_L.jpg" class="img-fluid" alt="">
                            <img src="~/Content/stone/images/stone/2006054_L.jpg" class="img-fluid" alt="">
                            <img src="~/Content/stone/images/stone/2006054_L.jpg" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="p-desc">
                            <h3>Vòng Đá Cẩm Thạch</h3>
                            <div class="p-rating">
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star checked"></i>
                                <i class="fa fa-star"></i>
                            </div>
                            <div class="price">$420</div>
                            <p>Đá cẩm thạch là loại đá khoáng hiếm, được hình thành trong quá trình dioxy biến chất, được phân bố nhiều ở Myanmar, Nga, Trung Quốc. Đá cẩm thạch được tạo thành nhiều hạt và sợi nhỏ, có độ cứng trong bình từ 6,5 – 7 trên thang độ cứng MOH. Được sử dụng nhiều nhất ở phương Đông, đặc biệt là ở Việt Nam và Trung Quốc.</p>

                            <h6 class="text-light  mb10">Số lượng</h6>
                            <span class="f-input-number-decrement">–</span><input class="f-input-number" type="text" value="1" min="0" max="10"><span class="f-input-number-increment">+</span>
                            <div class="spacer-single"></div>
                            <a href="#" class="btn btn-line">Thêm Vào Giỏ Hàng</a>
                            <a href="#" class="btn btn-line">Mua Ngay</a>
                            <div class="spacer-line"></div>
                        </div>
                    </div>

                    <div class="spacer-double"></div>

                    <div class="col-md-12">
                        <nav>
                            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Mô tả sản phẩm</a>
                                <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Thông tin chi tiết</a>
                            </div>
                        </nav>

                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <p>
                                    Tên sản phẩm: Vòng đá cẩm thạch<br>
                                    Màu: Xanh lá<br>
                                    Hợp mệnh: Hỏa - Mộc<br>
                                    Chất liệu: Đá cẩm thạch - đá tự nhiên<br>
                                    Xuất xứ: Sản phẩm do PDJ cung cấp<br>
                                    Ưu điểm: Giúp tăng cường khả năng miễn dịch cho hệ miễn dịch, cơ thể trở nên khỏe mạnh và làm cho các cơ quan như: phổi, tim, họng, mắt hoạt động được tốt hơn.<br>
                                </p>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <p>
                                    Đá cẩm thạch giúp điều hòa khí huyết, làm giảm các bệnh đau đầu, hỗ trợ điều trị bệnh về hệ thần kinh như stress. Từ đó giúp bạn trở nên thoải mái, dễ chịu, tươi vui hơn trong cuộc sống.
                                    Đồng thời, nó cũng giúp bạn điều trị các bệnh về xương khớp như thoái hóa cột sống, thoát vị đĩa đệm,…
                                    Ngoài ra, vòng tay đá cẩm thạch còn giúp cơ thể lọc máu, điều hòa các chất dinh dưỡng, thải các chất độc ra ngoài cơ thể.
                                    Đối với những người bị huyết áp, vòng tay này sẽ giúp điều hòa lại huyết áp, làm giảm nguy cơ đột quỵ ở nhiều già.
                                    Đeo cẩm thạch sẽ giúp cơ thể bài trừ những năng lượng tiêu cực tích tụ trong các cơ quan của cơ thể như tim, gan,...
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="sidebar" class="col-md-3">
                <div class="widget widget_top_rated_product">
                    <h4>Sản phẩm liên quan</h4>
                    <ul>
                        <li>
                            <a href="/Information">
                                <img src="~/Content/stone/images/stone/2006054_L.jpg" alt="">
                            </a>
                            <div class="text">
                                <a href="/Information">VÒNG ĐÁ CẨM THẠCH 001</a>
                                <div class="p-rating">
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price">$420</div>
                            </div>
                        </li>
                        <li>
                            <a href="/Information">
                                <img src="~/Content/stone/images/stone/2006054_L.jpg" alt="">
                            </a>
                            <div class="text">
                                <a href="/Information">VÒNG ĐÁ CẨM THẠCH 002</a>
                                <div class="p-rating">
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price">$210</div>
                            </div>
                        </li>
                        <li>
                            <a href="/Information">
                                <img src="~/Content/stone/images/stone/2006054_L.jpg" alt="">
                            </a>
                            <div class="text">
                                <a href="/Information">VÒNG ĐÁ CẨM THẠCH 003</a>
                                <div class="p-rating">
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price">$180</div>
                            </div>
                        </li>
                        <li>
                            <a href="/Information">
                                <img src="~/Content/stone/images/stone/2006054_L.jpg" alt="">
                            </a>
                            <div class="text">
                                <a href="/Information">VÒNG ĐÁ CẨM THẠCH 004</a>
                                <div class="p-rating">
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price">$850</div>
                            </div>
                        </li>
                        <li>
                            <a href="/Information">
                                <img src="~/Content/stone/images/stone/2006054_L.jpg" alt="">
                            </a>
                            <div class="text">
                                <a href="/Information">VÒNG ĐÁ CẨM THẠCH 006</a>
                                <div class="p-rating">
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star checked"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <div class="price">$240</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


