<style>
    .modal-title {
        text-align: center !important;
    }
</style>
<header>
    <div class="info">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="column">Working Hours Monday - Friday <span class="id-color"><strong>08:00-16:00</strong></span></div>
                    <div class="column">Toll Free <span class="id-color"><strong>1800.899.900</strong></span></div>
                    <!-- social icons -->
                    <div class="column social">
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                        <a href="#"><i class="fa fa-rss"></i></a>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                        <a href="#"><i class="fa fa-envelope-o"></i></a>
                    </div>
                    <!-- social icons close -->
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- logo begin -->
                <div id="logo">
                    <a href="index.html">
                        <img class="logo" src="images/logo.png" alt="">
                    </a>
                </div>
                <!-- logo close -->
                <!-- small button begin -->
                <span id="menu-btn"></span>
                <!-- small button close -->
                <!-- mainmenu begin -->
                <nav>
                    <ul id="mainmenu">
                        <li>
                            <a href="/Home">Trang Chủ</a>
                        </li>
                        <li>
                            <a href="#">Bộ Sưu Tập<span></span></a>
                            <ul class="mega">
                                <li>
                                    <div class="container-fluid">
                                        <div class="menu-content">
                                            <div class="row">
                                                <div class="col-lg-3 col-md-12">
                                                    <ul>
                                                        <li class="title">Nhẫn Nam</li>
                                                        <li><a href="#">Nhẫn Phong Thuỷ</a></li>
                                                        <li><a href="#">Nhẫn Đính Đá</a></li>
                                                        <li><a href="#">Nhẫn Cặp</a></li>
                                                        <li><a href="#">Nhẫn Ngón út</a></li>
                                                        <li><a href="#">Nhẫn Teen</a></li>
                                                        
                                                    </ul>
                                                </div>

                                                <div class="col-lg-3 col-md-12">
                                                    <ul>
                                                        <li class="title">Lắc Tay & Lắc Chân</li>
                                                        <li><a href="#">Lắc Tay Bạc</a></li>
                                                        <li><a href="#">Lắc Tay Mảnh</a></li>
                                                        <li><a href="#">Lắc Tay Cặp</a></li>
                                                        <li><a href="#">Lắc Tay Bản Khắc Tên</a></li>
                                                        <li><a href="#">Lắc Tay Bé</a></li>
                                                        <li><a href="#">Vòng Kiềng Bạc</a></li>
                                                        <li><a href="#">Vòng Charm Pandora</a></li>
                                                        <li><a href="#">Vòng Đá Phong Thủy</a></li>
                                                        <li><a href="#">Vòng Chỉ Đỏ</a></li>
                                                        <li><a href="#">Lắc Chân</a></li>
                                                    </ul>
                                                </div>

                                                <div class="col-lg-3 col-md-12">
                                                    <ul>
                                                        <li class="title">Trang Sức Nam</li>
                                                        <li><a href="#">Nhẫn Nam</a></li>
                                                        <li><a href="#">Lắc Tay Nam</a></li>
                                                    
                                                    </ul>
                                                </div>

                                                <div class="col-lg-3 col-md-12">
                                                    <ul>
                                                        <li><a href="#">Vòng Đá Phong Thủy</a></li>
                                                        <li><a href="#">Trang Sức Theo Bộ</a></li>
                                                        <li><a href="#">Trang Sức Trẻ Em</a></li>
                                                        
                                                    </ul>
                                                </div>


                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>

                        @*<li>
                            <a href="/#">Services</a>
                        </li>*@
                        <li>
                            <a href="#">Bài Viết</a>
                        </li>
                        <li>
                            <a href="#">Cửa Hàng</a>
                        </li>
                        <li><a href="/Contact">Hỗ Trợ</a></li>
                        <li><a href="#">FAQ</a></li>
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li>
                                <a href="/login"><i class="fa fa-fw" title="Copy to use sign-in"></i> Đăng Nhập</a>
                            </li>
                            <li>
                                <a href="/register-account">  <i class="fa fa-fw" title="Copy to use sign-out"></i>  Đăng Ký</a>
                            </li>

                        }
                        else
                        {
                            <li><a><i aria-hidden="true" class="icon-profile-male"></i> @User.Identity.Name</a></li>
                            <li>
                                <a href="/logoff">

                                    Đăng Xuất
                                </a>
                            </li>
                        }
                        </ul>
                </nav>

                <!-- mainmenu close -->

            </div>


        </div>
    </div>
</header>
